@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.error-alert {
  padding: 13px 0px 13px 10px;
  text-align: center;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  margin: 0 auto;
  margin-bottom: 20px;
}